@import "tailwindcss";
@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .no-scrollbar {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
  }
}
@media (hover: hover) and (pointer: fine) {
  .desktop-grab {
    cursor: grab;
  }
  .desktop-grab:active {
    cursor: grabbing;
  }
}