@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom Scrollbar to match the premium GovPrep UI
*/
@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
  
  .custom-scrollbar::-webkit-scrollbar {
    width: 6px;
  }
  .custom-scrollbar::-webkit-scrollbar-track {
    background: transparent;
  }
  .custom-scrollbar::-webkit-scrollbar-thumb {
    background-color: #334155; /* slate-700 */
    border-radius: 20px;
  }
}

/* Fixes desktop wheel picker dragging */
@media (hover: hover) and (pointer: fine) {
  .desktop-grab {
    cursor: grab;
  }
  .desktop-grab:active {
    cursor: grabbing;
  }
}

body {
  font-family: 'Lexend', sans-serif;
}